body{
  box-sizing: border-box;
}

.chart--horizon  > li {
  list-style-type: none;

}

.chart--horizon{
  width: 560px;
}


.color_range{
  display: flex;
  justify-content: space-around;
}

.graph{
  margin: 92px 0;
  height: 800px;
  width: 820px
}

.chart__bar{

  height: 30px;
  border-radius: 0 20px 20px 0;
  margin: 8px;
}

.chart__label{
  font-size: 14px;
  line-height: 30px;
  color: white;
}

.title{
  color: #113e21;
  font-weight: 700;
}

.second{
  margin: 90px 0;
}




.low{
  background-color: #dc3912;
  height: 30px;
  border-radius: 0 20px 20px 0;
  margin: 25px;

}

.sufficient{
  background-color: #109618;
  height: 30px;
  border-radius: 0 20px 20px 0;
  margin: 25px;
}

.high{
  background-color: #ff9900;
  height: 30px;
  border-radius: 0 20px 20px 0;
  margin: 25px;
}

 